<html>
<head>
  <title>LohnBot</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <style>
  h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin: 0.25rem;
  }
  </style>
</head>
<body style="background-color: white;, padding: 0px;">
  <div id="app"></div>
</body>
</html>
