<html>
<head>
  <title>LohnBot</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html {
      font-size: 62.5%
    }
    h1, h2, h3, h4, h5, h6, p, a {
      font-weight: normal;
      font-family: 'Roboto', sans-serif;
      margin: 0rem;
    }
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 2rem;
    }
    h4 {
      font-size: 1.8rem;
    }
    h5 {
      font-size: 1.6rem;
    }
    h6 {
      font-size: 1.4rem;
    }
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: white; padding: 0px;">
  <div id="app"></div>
</body>
</html>
