<html>
<head>
  <title>Customer Tool</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"></link>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.fontawesome.com/e36192e386.js"></script>
  <style>
    html {
      font-size: 100%;
      font-family: 'Roboto', sans-serif;
    }
    body {
      font-size: 0.875rem;
      color: #666666;
    }
    * {
      box-sizing: border-box;
    }
    p,ul,li,h1,h2,h3,h4,h5,h6,form {
      padding: 0;
      margin: 0;
    }
    ul {
      list-style-type: none;
    }
  </style>
</head>

<body style="background-color: #F5F5F5;">
  <div id="app"></div>
</body>

</html>
